@model List<ROSys.WebClient.Models.Table>
@{
    ViewBag.Title = "Index";
}
<div class="row">
    @foreach (var t in Model)
    {

        <div class="col-md-4">
            <div class="well">
                <h3>Table @t.Number</h3>
                @t.NumberOfPerson Person
                <a href="@Url.Action("Start", new { tableNo = t.Number })" class="btn btn-default pull-right" > Proceed &gt; </a>
            </div>
        </div>
    }
</div>

