<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBFacadeAssemblyName" value="ROSys.MSSqlDBFacade.dll"/>
    <add key="DBFacadeClassName" value="ROSys.MSSqlDBFacade.DBFacade"/>
  </appSettings>
  <connectionStrings>
    <add name="MSSqlConnection" connectionString="Server=.\sqlexpress;Database=ROSys;integrated security=true;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>